<%- include('../partials/header') %>
<%
function ubahTanggal(tgl){
  var Tanggal = tgl.toLocaleDateString().split('/').reverse()
  var tanggal= []
  for(var i=0; i<3; i++) {
    if(Tanggal[i] < 10) {
      tanggal.push('0' + Tanggal[i])
    }else{
      tanggal.push(Tanggal[i].toString())
    }
  }
  var temp = tanggal[1]
  tanggal[1] = tanggal[2]
  tanggal[2] = temp
  
  return tanggal.join('-')
}
%>
<div class="container">
  <form method="POST">
    <div class="mb-3">
      <label for="judul" class="form-label">Judul Buku</label>
      <div class="input-group">
        <select class="form-select form-control" name="BukuId">
          <% buku.forEach(b=>{%>
            <option value="<%=b.id%>" <%= b.id == pinjam.BukuId ? 'selected' : ''%> ><%=b.judul%></option>
          <%})%>
        </select>
      </div>
    </div>
    <div class="mb-3">
      <label for="jenis" class="form-label">Peminjam Buku</label>
      <div class="input-group">
        <select class="form-select form-control" name="AnggotaId">
          <% anggota.forEach(a=>{%>
            <option value="<%=a.id%>"  <%= a.id == pinjam.AnggotaId ? 'selected' : ''%> ><%=a.nama%></option>
          <%})%>
        </select>
      </div>
    </div>
    <div class="mb-3">
      <label for="tgl_pinjam" class="form-label">Tanggal Pinjam</label>
      <input type="date" class="form-control" name="tgl_pinjam" value="<%= ubahTanggal(pinjam.tgl_pinjam) %>">
    </div>
    <div class="mb-3">
      <label for="tgl_kembali" class="form-label">Tanggal Pengembalian</label>
      <input type="date" class="form-control" name="tgl_kembali">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="/" class="btn btn-danger">Batalkan</a>
  </form>
</div>

<%- include('../partials/footer') %> 