<%- include('../partials/header') %>

<div class="container">
  <form method="POST" action="/anggota/ubah/<%= data.id %>">
    <div class="mb-3">
      <label for="nama" class="form-label">Nama Lengkap</label>
      <input type="text" class="form-control" name="nama" value="<%= data.nama%>">
    </div>
    <div class="mb-3">
      <label for="alamat" class="form-label">Alamat</label>
      <input type="text" class="form-control" name="alamat" value="<%= data.alamat%>">
    </div>
    <div class="mb-3">
      <label for="pekerjaan" class="form-label">Pekerjaan</label>
      <input type="text" class="form-control" name="pekerjaan" value="<%= data.pekerjaan%>">
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    <a href="/anggota" class="btn btn-danger">Batalkan</a>
  </form>
</div>

<%- include('../partials/footer') %> 