<%- include('../partials/header') %>
<% var dataBaru = data.filter(pinjam => {
  return pinjam.bukus.length > 0
}) %>
<div class="container mt-5">
  <div class="card">
    <h5 class="card-header">Detail Peminjam</h5>
    <div class="card-body">
      <h5 class="card-title">Buku</h5>
      <p class="card-text">Judul :<%= dataBaru[0].bukus[0].judul%></p>
      <p class="card-text">Jenis :<%= dataBaru[0].bukus[0].jenis%></p>
      <p class="card-text">Pengarang : <%= dataBaru[0].bukus[0].pengarang%></p>
      <p class="card-text">Penerbit : <%= dataBaru[0].bukus[0].penerbit%></p>

      <br>
      <h5 class="card-title">Dipinjam</h5>
      <p class="card-text">Nama :<%= dataBaru[0].nama%></p>
      <p class="card-text">Alamat :<%= dataBaru[0].alamat%></p>
      <p class="card-text">Pekerjaan : <%= dataBaru[0].pekerjaan%></p>

      <br>
      <h5 class="card-title">Status</h5>
      <% 
        var tgl_kembali = dataBaru[0].bukus[0].pinjam.tgl_kembali
        var tgl_pinjam = dataBaru[0].bukus[0].pinjam.tgl_pinjam
      %>
      <b><%= tgl_kembali == null ? 'Belum Dikembalikan' : 'Sudah Dikembalikan '%></b>
      <br><br>

      <p class="card-text">Tanggal Pinjam :<%= tgl_pinjam %></p>
      <%if(tgl_kembali != null) {%>
        <p class="card-text">Tanggal Pengembalian :<%= tgl_kembali %></p>  
      <%}%>
    </div>
  </div>
</div>
<%- include('../partials/footer') %> 