<%- include('../partials/header') %>
<div class="container">
  <a href="/pinjam/tambah" class="btn btn-success float-right my-3">Pinjam Buku</a>
  <table class="table table-hover">
    <thead class="table-primary">
      <tr>
        <th scope="col">No</th>
        <th scope="col">Nama Peminjam</th>
        <th scope="col">Judul Buku</th>
        <th scope="col">Tanggal Pinjam</th>
        <th scope="col">Tanggal Pengembalian</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% var dataBaru = data.filter(pinjam => {
        return pinjam.bukus.length > 0
      }) %>
      
      <% dataBaru.forEach((pinjam, idx1) => { %>
        <!-- Pengulangan buku -->
        <% pinjam.bukus.forEach((buku, idx) => { %>
          <% 
            tgl_pinjam = buku.pinjam.tgl_pinjam
            tgl_kembali = buku.pinjam.tgl_kembali
            if(tgl_kembali) {
              tgl_kembali = buku.pinjam.tgl_kembali.toDateString()
            }else{
              tgl_kembali = 'Belum Dikembalikan'
            }
            if(tgl_pinjam) {
              tgl_pinjam = buku.pinjam.tgl_pinjam.toDateString()
            }
          %>
        <tr>
          <th scope="row"><%= ++idx1%></th>
          <td><%= pinjam.nama %></td>
          <td><%= buku.judul %></td>
          <td><%= tgl_pinjam %></td>
          <td><%= tgl_kembali %></td>
          <td>
            <a href="/pinjam/detail/<%= buku.pinjam.id %>" class="btn"><i class="bi bi-card-text"></i></a>
            <a href="/pinjam/ubah/<%= buku.pinjam.id %>" class="btn"><i class="bi bi-pencil-square text-success"></i></a>
            <a href="/pinjam/hapus/<%= buku.pinjam.id %>" class="btn"><i class="bi bi-trash-fill text-danger"></i></a>
          </td>
        </tr>
        <% }) %>
      <% }) %>
    </tbody>
  </table>
</div>

<%- include('../partials/footer') %> 