<%- include('../partials/header') %>

<div class="container">
  <a href="/anggota/tambah" class="btn btn-success float-right my-3">Tambah Anggota</a>
  <table class="table table-hover">
    <thead class="table-primary">
      <tr>
        <th scope="col">No</th>
        <th scope="col">Nama</th>
        <th scope="col">Alamat</th>
        <th scope="col">Pekerjaan</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach((anggota, idx) => { %>
      <tr>
        <th scope="row"><%= ++idx%></th>
        <td><%= anggota.nama %></td>
        <td><%= anggota.alamat %></td>
        <td><%= anggota.pekerjaan %></td>
        <td>
          <a href="/anggota/ubah/<%= anggota.id %>"><i class="bi bi-pencil-square text-success mr-3"></i></a>
          <a href="/anggota/hapus/<%= anggota.id %>"><i class="bi bi-trash-fill text-danger"></i></a>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<%- include('../partials/footer') %> 